body {
    background-image: url("../images/background.png")
}

.banner {
    background-image: url("../images/bannerbg.png");
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titleCustom {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    text-shadow: 3px 3px #999999;
}

.contentarea {
	border: 4px solid gray;
	border-radius: 20px;
	margin: auto;
	overflow: hidden;
    margin-left: 30%;
    width: 800px;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    float: right;
    width: 250px;
    background-color: #A2B964;

}

.arealeft {
    width: 550px;
	float: right;;
}

.titleCritics {
    background-image: url("../images/rbg.png");
}

.titleCriticsText {
    font-weight: bold;
    font-size: 48px;
    color: red;
}

p.critict {
    background-color: #E8DC9B;
	font-weight: bold;
	border: 3px solid grey;
	border-radius: 10px;
	padding: 8px;
	overflow: hidden;
	position: relative;
}

p.name {
    font-style: italic;
    padding-top: 5px;
	padding-bottom: 20px;
}

.bottonBar {
    background-color:#A2B964;
    float:left;
   width: 100%;
   text-align: center;
   height:25px
}

dl {
    padding-left: 10pt;
}

dt {
    font-weight: bold;
    padding-top: 10pt;
}

ul {
    list-style-type: none;
    padding: 0;
}

.columns {
    width: 47%;
	margin-left: 2%;
	float: left;
}

.butoonValidatorHTMLCSS
{
    position: fixed;
    right:0;
    bottom:0;
}