body {
    background-color: darkolivegreen;
}
.important {
    font-weight: bold;
    color: yellow;
    font-style: italic;
}

.inner_block {
    display: inline-block;
    font-size: 20px;
}

h1, h2 {
    color: chartreuse
}

p, li {
    color: white;
}